{
  parser: "babel-eslint",
  "rules": {
    "semi": 0
  },
  "env": {
        "browser": true,
        "node": true
    },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": [
    "react"
  ]
}
